{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Domain Dashboard</li>
{% endblock %}

{% block content %}
  <table class="table d-none" id="domains_tbl">
    {% csrf_token %}
    <thead class="thead-inverse">
      <tr>
        <th>Dealer ID</th>
        <th>Dealer Name</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Website</th>
        <th>Redirect URLs</th>
        <th>Category</th>
        <th>Crawl Type</th>
        <th>Comment</th>
        <th>Test</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
        <tr>
          <td><a onclick='redirect(event);' href="{% url 'domain_summary' row.domain today_date %}">{{row.dealer_id}}</a></td>
          <td>{{row.dealer_name}}</td>
          <td>{{row.city}}</td>
          <td>{{row.state}}</td>
          <td>{{row.zip}}</td>
          <td><a href="{{row.realurl}}" target="blank">{{row.website}}</a></td>
          <td>
            {% for item in row.redirect_url_list %}
              <a href="{{item}}" target="blank">{{item}}</a><br>
            {% endfor %}
          </td>
          <td>{{row.category}}</td>
          <td>{{row.crawl_type}}</td>
          <td>{{row.type_reason}}</td>
          <td class="d-flex">
            <button class="btn btn-info {% if row.test_status == 'crawling' %} d-none {% endif %} test-btn mr-3" data-dealer="{{ row.dealer_id}}" data-name=" {{ row.dealer_name }}" data-city="{{ row.city }}" data-state="{{ row.state }}" data-zip="{{ row.zip }}" data-website="{{ row.website }}" data-category="{{ row.category }}" data-type="{{ row.crawl_type }}" data-redirect = "{{row.redirect_url}}">Test</button>
            <button class="btn btn-danger {% if row.test_status == 'notcrawling' %} d-none {% endif %} cancel-btn mr-3" data-dealer="{{ row.dealer_id }}">Cancel</button>
            <a onclick='redirect(event);' href="{% url 'view_test' row.dealer_id %}" class="mr-3 btn btn-success {% if row.history_status == 'nothistory' %} d-none {% endif %} view-btn" data-dealer="{{ row.dealer_id}}">View</a>
            <button class="btn btn-info edit-btn mr-3" data-dealer="{{ row.dealer_id}}">Edit</button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Edit Article Collection Modal -->
  <div class="modal fade" id="edit_domain_modal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title result-name">Edit Domain</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <form id="edit_domain_form" class="form-horizontal">
          {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
              <label for="edit_dealer_id">Dealer ID : </label>
              <input type="text" id="edit_dealer_id" name="edit_dealer_id" class="form-control" readonly>
            </div>
            <div class="form-group">
              <label for="edit_dealer_name">Dealer Name : </label>
              <input type="text" id="edit_dealer_name" name="edit_dealer_name" class="form-control" readonly>
            </div>
            <div class="form-group">
              <label for="edit_dealer_domain"> Website URL: </label>
              <input type="text" id="edit_dealer_domain" name="edit_dealer_domain" class="form-control">
            </div>
            <div class="form-group">
              <label for="edit_redirect_urls">Redirect URLs : </label>
              <input type="text" id="edit_redirect_urls" name="edit_redirect_urls" class="form-control">
            </div>
            <div class="form-group">
              <label for="edit_crawl_type">Crawl Type : </label>
              <select name="edit_crawl_type" id="edit_crawl_type" class="form-control">
                <option value="Crawlable">Crawlable</option>
                <option value="Browseable">Browseable</option>
                <option value="No Vin: C">No Vin: C</option>
                <option value="No Vin: B">No Vin: B</option>
                <option value="No Vin">No Vin</option>
                <option value="No Inventory: B">No Inventory: B</option>
                <option value="No Inventory: C">No Inventory: C</option>
                <option value="No Inventory">No Inventory</option>
                <option value="Exclude">Exclude</option>
                <option value="Not Active">Not Active</option>
              </select>
            </div>
            <div class="form-group">
              <label for="edit_crawl_type_reason">Crawl Type Reason: </label>
              <input type="text" id="edit_crawl_type_reason" name="edit_crawl_type_reason" class="form-control" placeholder="Input Crawl Type Reason.">
            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary edit-col-submit-btn d-block">SAVE</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>

      </div>
    </div>
  </div>
{% endblock %}