{% extends 'base.html' %}

{% block title %}
  settings
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a onclick='redirect(event);' href="{% url 'crawl_index' %}">Crawler Dashboard</a></li>
  <li class="breadcrumb-item active">Settings</li>
{% endblock %}

{% block content %}
    
  <form id="settings_form" class="form-horizontal">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="setting_host">HOST : </label>
            <input type="text" id="setting_host" name="setting_host" class="form-control" value="{{data.host}}" disabled>
          </div>
          <div class="form-group">
            <label for="setting_start_time"> CRAWLERs START TIME: </label>
            <input type="text" id="setting_start_time" name="setting_start_time" class="form-control" value="{{data.crawler_start_time}}" disabled>
          </div>
          <div class="form-group">
            <label for="setting_url_count_per_scrapy_crawler">URL COUNT PER SCRAPY CRAWLER : </label>
            <input type="text" id="setting_url_count_per_scrapy_crawler" name="setting_url_count_per_scrapy_crawler" class="form-control" value="{{data.url_per_spider_crawler}}" disabled>
          </div>
          <div class="form-group">
            <label for="setting_process_count">PROCESS COUNT PER CRAWLER : </label>
            <input type="text" id="setting_process_count" name="setting_process_count" class="form-control" value="{{data.process_per_crawler}}" disabled>
          </div>
          <div class="form-group">
            <label for="setting_not_available_repeat_count">REQUEST_REPEAT_COUNT (NOT_AVAILABLE) : </label>
            <input type="text" id="setting_not_available_repeat_count" name="setting_not_available_repeat_count" class="form-control" value="{{data.not_available_request_repeat_count}}" disabled>
          </div>
          <div class="form-group">
            <label for="setting_scrapy_crawlers">SCRAPY CRAWLERs : </label>
            <textarea type="text" id="setting_scrapy_crawlers" name="setting_scrapy_crawlers" class="form-control" rows="10" disabled>{{data.spider_crawlers|join:"&#10;"|cut:" "}}</textarea>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="form-group">
            <label for="setting_port">PORT : </label>
            <input type="text" id="setting_port" name="setting_port" class="form-control" value="{{data.port}}" disabled>
          </div>
          <div class="form-group">
            <label for="setting_interval_time">CRAWLERs INTERVAL TIME : </label>
            <input type="text" id="setting_interval_time" name="setting_interval_time" class="form-control" value="{{data.crawler_interval_time}}" disabled>
          </div>
          <div class="form-group">
            <label for="setting_url_count_per_selenium_crawler">URL COUNT PER SELENIUM CRAWLER : </label>
            <input type="text" id="setting_url_count_per_selenium_crawler" name="setting_url_count_per_selenium_crawler" class="form-control" value="{{data.url_per_selenium_crawler}}" disabled>
          </div>
          <div class="form-group">
            <label for="setting_crawler_file_update_flag">CRAWLER FILES UPDATE FLAG : </label>
            <select name="setting_crawler_file_update_flag" id="setting_crawler_file_update_flag" class="form-control" disabled>
              <option value="True" {%if data.update_status == "True"%}selected{%endif%}>TRUE</option>
              <option value="False" {%if data.update_status == "False"%}selected{%endif%}>FALSE</option>
            </select>
          </div>
          <div class="form-group">
            <label for=""> : </label>
            <input type="text" id="" name="" class="form-control" value="" disabled>
          </div>
          <div class="form-group">
            <label for="setting_selenium_crawlers">SELENIUM CRAWLERs : </label>
            <textarea type="text" id="setting_selenium_crawlers" name="setting_selenium_crawlers" class="form-control" rows="10" disabled>{{data.selenium_crawlers|join:"&#10;"}}</textarea>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-success setting-edit-btn d-block w-25 my-3 mx-auto">EDIT</button>
      <button type="submit" class="btn btn-primary setting-submit-btn d-none w-25 my-3 mx-auto">SAVE</button>
    </div>
  </form>

{% endblock %} 